.background-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-blend-mode: color;
  background: rgba(0, 0, 0, 0.85g);
}

.movieDetails {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 2rem;

  a {
    color: #248bcc;
    &:hover {
      color: #248bcc;
    }
  }

  i {
    margin-right: 1rem;
    color: white;
    font-size: 1.5rem;
  }

  .poster {
    width: 30%;
    height: 100%;
  }

  .content {
    padding-left: 10rem;
    line-height: 1.5;

    h1,
    h4,
    p,
    div {
      margin-bottom: 1rem;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      li {
        margin: 1rem;
      }
    }

    .overview {
      font-size: 1.3rem;
    }

    .links-group {
      margin: 2rem 0;
      button {
        margin-right: 2rem;
      }
    }

    .companies {
      display: flex;
      justify-content: flex-start;

      .prod-company {
        margin: 1rem;
        align-self: center;
        img {
          background-color: #ffffff;
          padding: 10px;
          margin: auto;
          max-height: 2.8rem;
        }
      }
    }

    .review-btn:hover {
      color: #ffff;
    }
  }
}

.screenshots-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    border: 2px solid #000000;
    margin-top: 3rem;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.cast {
  padding: 0;
  margin: 1rem;
  text-align: center;

  p {
    margin: 0;
  }

  h4,
  img {
    cursor: pointer;
  }
}
