.personDetails {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 2rem;

  a {
    color: #248bcc;
    &:hover {
      color: #248bcc;
    }
  }

  i {
    margin-right: 1rem;
    color: white;
    font-size: 1.5rem;
  }

  img {
    width: 400px;
    height: 600px;
  }

  .content {
    line-height: 1.5;

    h1,
    h4,
    p,
    div {
      margin-bottom: 2rem;
    }
  }
}
@media screen and (max-width: 1280px) {
  .personDetails {
    img {
      width: 300px;
      height: 450px;
    }
  }
}

@media screen and (max-width: 768px) {
  .personDetails {
    display: flex;
    flex-direction: column;

    img {
      width: 200px;
      height: 300px;
    }

    .content {
      padding: 0;

      h1 {
        font-size: 2rem;
        text-align: center;
      }

      h4 {
        font-size: 1.2rem;
        margin: 1rem 0;
      }
    }
  }
}
