.personDetails {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 2rem;

  a {
    color: #248bcc;
    &:hover {
      color: #248bcc;
    }
  }

  i {
    margin-right: 1rem;
    color: white;
    font-size: 1.5rem;
  }

  img {
    position: relative;
    width: 400px;
    height: 100%;
  }

  .content {
    padding: 0 7.5rem;
    line-height: 1.5;

    h1,
    h4,
    p,
    div {
      margin-bottom: 1rem;
    }

    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      li {
        margin: 1rem;
      }
    }

    .overview {
      font-size: 1.3rem;
    }

    .links-group {
      button {
        margin-right: 2rem;
      }
    }

    .companies {
      position: relative;
      display: grid;
      grid-template-rows: repeat(1, 1fr);

      .prod-company {
        position: relative;
        background-color: #ffffff;
        margin: 1rem;
        align-self: center;
        min-height: 4rem;
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0;
          max-height: 2rem;
        }
      }
    }

    .review-btn:hover {
      color: #ffff;
    }
  }
}
